# Editor-specific
.idea
*.sublime-project
*.sublime-workspace
.settings

# Installed libs
package-lock.json
node_modules/

# Generated
test/browser/page/tests-bundle.js
lib/
dist/

# Misc
ignore
npm-debug.log
ts/*
!ts/cycle.d.ts
.DS_Store
